.player {
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 0;
  position: fixed;
  height: 149px;
  width: 100%;
  background-color: #1B041E;
  
}

.musicInfos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 20%;
}
.volumeSlider{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  padding-right: 2vh;
}
.ContentPlayer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.progressBarPlayer{
  width: 100%;
}
.indicatorPlayer{
  display: flex;
  align-items: center;
  width: 40%;
  background-color: green;
}
.player .picturesPlayer {
  height: 100px;
  min-width: 100px;
  background-size: cover;
  background-position: center center;
}
.player .nameSong{
  color: white;
}
.player .ContentPlayer .indicatorPlayer {
  display: flex;
  justify-content: center;
}
.Tracks {
  display: flex;
}
.Tracks img {
  max-width: 150px;
  max-height: 150px;
}