.player {
  min-height: 800px;
  width: 20%;
}
.player .picturesPlayer {
  height: 300px;
  background-size: cover;
  background-position: center center;
}
.player .ContentPlayer .indicatorPlayer {
  display: flex;
  justify-content: center;
}
